[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.0.1"
pylint = "*"
ariadne = "*"
python-dotenv = "*"
marshmallow = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.8"
